.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  background: linear-gradient(to right, #25c481, #25b7c4);
  overflow: hidden;
}

.Home {
  text-align: left;
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  color: #000000;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  overflow: auto;
}

h3 {
  padding-bottom: 1em;
  border-bottom: 1px solid #b3b3b3;
}
