@import '../../styles/variables.scss';

.DataTable {
  font-size: 14px;
  text-align: left;
  width: 100%;
  color: $color-dark;
  overflow: auto;
}

.DataTable-searchbar {
  & > select {
    width: 20%;
    height: 40px;
  }
  & > input[type="text"] {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    padding: 0.5em;
    margin-top: -1px;
  }
}

.DataTable-container {
  min-width: 768px;
}

table.DataTable-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.DataTable-body {
  height: 60vh;
  overflow-x: auto;
  margin-top: 0px;
  & .DataTable-row:hover {
    background: $color-grad;
  }
}

.DataTable-row {
  border-bottom: 1px solid $color-lightgrey;
}

.DataTable-cell {
  padding: 20px;
  text-align: left;
  &:first-child {
    width: 56px;
  }
}

th.DataTable-cell {
  font-weight: bold;
  color: $color-grey;
  text-transform: uppercase;
}

td.DataTable-cell {
  vertical-align: middle;
  font-weight: 300;
  color: $color-dark;
}

img.DataTable-img {
  width: 20px;
}

#infiniteLoader {
  height: 20px;
  width: 100%;
  background: $grad1;
  text-align: center;
}
