.DataTable {
  font-size: 14px;
  text-align: left;
  width: 100%;
  color: #000000;
  overflow: auto;
}

.DataTable-container {
  min-width: 768px;
}

table.DataTable-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.DataTable-header {
  background-color: rgba(255,255,255,0.3);
}

.DataTable-body {
  height: 70vh;
  overflow-x: auto;
  margin-top: 0px;
}

.DataTable-body .DataTable-row:hover {
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.DataTable-row {
  border-bottom: 1px solid #efefef;
}

.DataTable-cell {
  padding: 20px;
  text-align: left;
}

.DataTable-cell:first-child {
  width: 56px;
}

th.DataTable-cell {
  font-weight: bold;
  color: #9a9a9a;
  text-transform: uppercase;
}

td.DataTable-cell {
  vertical-align: middle;
  font-weight: 300;
  color: #000000;
}

#infiniteLoader {
  height: 25px;
  width: 100%;
  background: aquamarine;
}
